.head{
    background-color: #142c4c;
    padding: 5px 0;
    color: #fff;
}

.head svg{
    margin-right: 10px;
}

.head p{
    font-size: 18px;
    font-weight: bold;
}

.head label{
    margin-right: 30px;
    font-size:13px;
}

.navbar{
  background-color: #fff;
  
}

.sale-message {
  font-size: calc(20px);
  line-height: calc(30px);
/*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  font-family: "Roboto", cursive;
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
/*     color: #fccaff;
    text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
      0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

.search{
  padding:20px 0;
}

.container-nav{
  max-width: 90%;
  margin:0 auto;
}

.search .logo img{
  padding-left:60px;
  width: 200px;
  height: 100px;
}

.search .width{
  width: 20%;
}

.search-box{
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius:15px;
}

.search-box svg{
  width: 5%;
  text-align: center;
  opacity: 0.5;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border-radius:9px;
}
::placeholder {
  font-size: 15px;
}

.cart{
  position: relative;
  margin-right: 60px;
}

.search .cart span{
  position:absolute;
  top: -10px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  background-color: #e94560;
  font-size: 12px;
  color: #fff;
}

.search .f-flex{
  justify-content: end;
}

.navlink{
  align-items: center;
}

header {
  height: 5vh;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}
header ul li {
  margin-left: 30px;
  position: relative;
}
header ul li a {
  transition: background-color .5s ease, color .5s ease;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 1.5rem;
  border-radius: 5px;
}
header ul li a:hover {
  text-decoration: dotted;
  border: 1px solid #ff014f;
}

a.link-item:hover{
  text-decoration: dotted;
  border: 1px solid #ff014f;
}


.search .active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.toggle{
  display: none;
}
@media (max-width: 768px) {
  .navlink ul {
    padding-top: 30px;
  }
  .nav-links-MobileMenu {
    position: absolute;
    display: block;
    list-style-type: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 0;
    transition: all 0.5s ease-in-out;
    width: 60%;
    height: 100vh;
    background-color: white;
    z-index: 888;
  }
  .navlink ul li {
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    line-height: 70px;
  }
  header .link {
    display: none;
  }
  .toggle{
    display: block;
    border: none;
    outline: none;
  }

  .close,
  .open {
    position: absolute;
    top: 35px;
    right: 20px;
    color: #ff014f;
    display: block;
    font-size: 25px;
    z-index: 999;
  }
  .open{
    top:30%;
    right:30px;
  }
  .close {
    right: 45%;
  }
  .close .home-btn {
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    color: #ff014f;
    border-radius: 50%;
    padding: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
  .header .active {
    height: 10vh;
  }
}

.sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}