.t-head{
    font-size: 15px !important;
    font-weight: 500 !important;
}

.t-product{
    padding-right: 20rem;
}

.t-title{
    padding-left: 15rem;
}

.tb-product{
    padding-right: 7rem;
}

.tb-title{
    padding-right: 14rem;
    padding-top: 4.5rem;
}

.tb-quantity{
    padding-top: 4.3rem;
    margin-left: -1.5rem;
    padding-right: 5rem;
}

.tb-price{
    padding-top: 4.5rem;
    padding-left: 5rem;
}